<md-sidenav-container fullscreen class="sidenav-container">
    <md-sidenav #sidenav mode="side" opened="true" class="sidenav" *ngIf="session.authenticated">
        <div style="height:64px;background-color:grey"></div>
        <ul class="nav-links">
        <li>
            <a md-button routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </li>
        <li>
            <a md-button routerLink="/devices" routerLinkActive="active">Devices</a>
        </li>
        <li>
            <a md-button routerLink="/users" routerLinkActive="active">Users</a>
        </li>
        <li>
            <a md-button routerLink="/groups" routerLinkActive="active">Groups</a>
        </li>
        <li>
            <a md-button routerLink="/settings" routerLinkActive="active">Settings</a>
        </li>
        </ul>
    </md-sidenav>

    <div class="content">
        <md-toolbar color="primary" *ngIf="session.authenticated">
            <a href="javascript:void" (click)="sidenav.toggle()"><i class="material-icons">menu</i></a>
            <span>DEVICEIO HUB</span>

            <span style="flex: 1 1 auto;"></span>

            <button md-raised-button style="color:grey" (click)="session.destroy()">logout</button>
        </md-toolbar>

        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>
